/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 18 30 31 19 7 8 20 32 33 21 9 10 22 34>;
        };

        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <1 13 25 26 14 2 3 15 27 28 16 4 17 5 29>;
        };

        hrm_left_shift: hrm_left_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LEFT_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            hold-trigger-key-positions = <6 18 30 31 19 7 8 20 32 33 21 9 10 22 34>;
        };

        hrm_right_shift: hrm_right_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RIGHT_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            hold-trigger-key-positions = <1 13 25 26 14 2 3 15 27 28 16 4 17 5 29>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            hold-trigger-key-positions = <6 18 30 31 19 7 8 20 32 33 21 9 10 22 34>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <1 13 25 26 14 2 3 15 27 28 16 4 17 5 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "AZERTY";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  A  |  Z  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  Q  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  M  |  ù   |
            // | SHFT |  W  |  X  |  C  |  V  |  B  |   |  N  |  ,   |  ;  |  :  |  !  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q                 &kp W                 &kp E              &kp R                         &kp T      &kp Y      &kp U                           &kp I               &kp O                  &kp P                      &kp BSPC
&kp LCTRL  &hrm_left LEFT_GUI A  &hrm_left LEFT_ALT S  &hrm_left LCTRL D  &hrm_left_shift LEFT_SHIFT F  &kp G      &kp H      &hrm_right_shift RIGHT_SHIFT J  &hrm_right RCTRL K  &hrm_right LEFT_ALT L  &hrm_right RIGHT_GUI SEMI  &kp SQT
&kp LSHFT  &kp Z                 &kp X                 &kp C              &kp V                         &kp B      &kp N      &kp M                           &kp COMMA           &kp DOT                &kp FSLH                   &kp ESC
                                                       &kp LGUI           &mo 1                         &kp SPACE  &kp SPACE  &mo 2                           &kp RALT
            >;
        };

        lower_layer {
            display-name = "CHIFFRES";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // |      |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)      &kp LS(N7)      &kp LS(N8)     &kp LS(N9)       &kp LS(N0)  &kp DELETE
&trans     &trans      &trans      &trans      &trans      &trans      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT_ARROW  &trans      &kp INSERT
&kp LSHFT  &trans      &trans      &trans      &trans      &trans      &kp HOME        &kp END         &kp PAGE_DOWN  &kp PAGE_UP      &trans      &trans
                                   &kp LGUI    &trans      &kp ENTER   &kp RET         &trans          &kp RALT
            >;
        };

        raise_layer {
            display-name = "SYMBOLES";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  &  |  é  |  "  |  '  |  (  |   |  -  |  è  |  _  |  ç  |  à  | BKSP |
            // | CTRL |     |     |     |     |     |   |  (  |  )  |  {  |  }  |  * |  `   |
            // | SHFT |     |     |     |     |     |   |  +  |  =  |  [  |  ]  |  \  |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3    &kp N4  &kp N5     &kp N6          &kp N7     &kp N8                &kp N9                 &kp N0             &kp BSPC
&kp LCTRL  &trans  &trans  &trans    &kp N5  &kp MINUS  &kp NUMBER_5    &kp MINUS  &kp RA(LEFT_BRACKET)  &kp RA(RIGHT_BRACKET)  &kp LEFT_BRACKET   &kp SINGLE_QUOTE
&kp LSHFT  &trans  &trans  &trans    &trans  &trans     &kp UNDERSCORE  &kp EQUAL  &kp RA(N9)            &kp RA(N0)             &kp RIGHT_BRACKET  &kp BACKSLASH
                           &kp LGUI  &trans  &kp ENTER  &kp RET         &trans     &kp RALT
            >;
        };

        adjust_layer {
            display-name = "REGLAGES";

            // -----------------------------------------------------------------------------------------
            // | BOOT | RST |     |     |     |     |   |     |     |     |     | RST | BOOT |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | TOG | BR+ | BR- | EFF |     |      |
            // |      |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&bootloader  &sys_reset    &trans        &trans        &trans        &trans        &trans           &trans           &trans           &trans           &sys_reset  &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF  &trans      &trans
&trans       &trans        &trans        &trans        &trans        &trans        &trans           &trans           &trans           &trans           &trans      &trans
                                         &trans        &trans        &trans        &trans           &trans           &trans
            >;
        };
    };
};
